.youtube-video {
    margin: 20px 0;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* tỷ lệ 16:9 */
    height: 0;
  }
  
  .youtube-video iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .blog-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #00aeff;
    text-align: center;
  }